# geopandas # used by OSMBuildings
geopy
laspy[lazrs,laszip]
matplotlib
meteostat
numpy
osmnx
Pillow
py7zr
pyproj
python_dateutil
rasterio
requests
# shapely # used by OSMBuildings
timezonefinder
trimesh